html, body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    height: 170px;
    margin-bottom: 30px;  
}

.header-info {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background-color: #882C2C;
    color: white;
}

.header-ueberschrift {
    display: flex;
    justify-content: center;

    box-sizing: border-box;
    width: 95%;
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
}

.titelUNDtrennlinie {
    flex: 1;

    display: flex;
    align-items: center;
    gap: 5%;
    width: 100%;
    
}

.titel {
    box-sizing: border-box;
    font-weight: bold;
    font-size: 45px;
    line-height: 1;
    text-align: center;
}

.trennlinie {
    width: 3px;
    height: 80px;
    background-color: black;
}

.nav {
    flex: 2;

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

.nav-element {
    box-sizing: border-box;
    color:#882C2C;
    margin: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.nav-element:hover {
    color: #631313;
    border-bottom: solid #631313;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-weight: 350;
    font-size: 40px;
    margin-left: 8%;
    margin-bottom: 40px;
}

.inhalt1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 45%;
    row-gap: 10%;
    column-gap: 5%;

    width: 50%;
    margin-left: 10%;
}

.tabelle-bild {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.inhalt1 p {
    width: auto;
    margin-left: 8%;
    white-space: pre-line;
    font-size: larger;
}

hr {
    width: 90%;
    height: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: black;
}

.formular-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    box-sizing: border-box;
    width: 80%;
    height: 600px;
    padding: 10px;
    margin-left: 10%;
    background-color: white;
    border-radius: 15px;

}

.formular-ueberschrift {
    color:#882C2C;
    width:70%;
    font-size: x-large;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 1%;
}

.formular-textfeld {
    box-sizing: border-box;
    width:100%;
    height: 10%;
    background-color: white;
    border: solid grey;
    border-radius: 5px;
}

button {
    width: 20%;
    height: 10%;
    padding: 1%;
    margin-top: 2%;
    background-color: #882C2C;
    color: white;
    border-radius: 5px;
}

footer { 
    display: flex;
    flex-direction: column;
    width: 100%
}

.ortschaft-container {
    display: flex;
    justify-content: space-around;
}

.ortschaft-item {
    flex: 1;
    width: 500px;
    height: 200px;
    margin: 5px;
    background-color: #882C2C;
    color: white;
    white-space: pre;
}

.footer-schwarz {
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-schwarz-text {
    color: white;
}

.footer-schwarz-bilder {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 20px;
}

.footer-bild-youtube {
    width: 100px;
}

.footer-bild-tiktok {
    width: 100px;
    height: 75px;
    border-radius: 20px;
}

.footer-bild-instagram {
    width: 90px;
    height: 78px;
}